<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pup.taguig.app.repository.ReportMapper">

    <resultMap id="ReportResultMap" type="com.pup.taguig.app.model.Report">
        <result property="totalOrders" column="total_orders"/>
        <result property="totalRevenue" column="total_revenue"/>
    </resultMap>

    <resultMap id="TopProductResultMap" type="com.pup.taguig.app.model.TopProduct">
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="totalQuantitySold" column="total_quantity_sold"/>
        <result property="revenue" column="revenue"/>
    </resultMap>

    <select id="getTotalSales" resultMap="ReportResultMap">
        SELECT
            COUNT(id) AS total_orders,
            SUM(order_price_total) AS total_revenue
        FROM orders
    </select>

    <select id="getTopProducts" resultMap="TopProductResultMap">
        SELECT
            p.id AS product_id,
            p.name AS product_name,
            SUM(oi.quantity) AS total_quantity_sold,
            SUM(oi.total_price) AS revenue
        FROM order_item oi
        JOIN product p
            ON oi.product_id = p.id
        JOIN orders o
            ON oi.order_id = o.id
        GROUP BY
            p.id,
            p.name
        ORDER BY total_quantity_sold DESC
    </select>

</mapper>